body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:796px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:192px;
  width:100px;
  height:60px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:296px;
  width:100px;
  height:60px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:939px;
  width:100px;
  height:60px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:252px;
  width:0px;
  height:0px;
}
#u228_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u228_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u228_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:359px;
  width:0px;
  height:0px;
}
#u229_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-4px;
  width:8px;
  height:8px;
}
#u229_seg1 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-4px;
  width:8px;
  height:576px;
}
#u229_seg2 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:564px;
  width:12px;
  height:8px;
}
#u229_seg3 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:564px;
  width:8px;
  height:16px;
}
#u229_seg4 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u229_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:567px;
  width:18px;
  height:19px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:282px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:999px;
  width:0px;
  height:0px;
}
#u230_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u230_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u230_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:16px;
  width:18px;
  height:19px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:274px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u231_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u231_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u231_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u231_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:252px;
  width:165px;
  height:42px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:252px;
  width:165px;
  height:42px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:405px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u234_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u234_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u234_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:9px;
}
#u234_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-4px;
  width:31px;
  height:8px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:384px;
  width:113px;
  height:42px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:350px;
  width:113px;
  height:42px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:350px;
  width:113px;
  height:42px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:432px;
  width:113px;
  height:42px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:43px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:8px;
  width:375px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:70px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:83px;
  width:166px;
  height:69px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:162px;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1028px;
  width:100px;
  height:60px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1088px;
  width:0px;
  height:0px;
}
#u242_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u242_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u242_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1133px;
  width:100px;
  height:60px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1193px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:758px;
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:750px;
  width:10px;
  height:8px;
}
#u244_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u244_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:745px;
  width:19px;
  height:18px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:372px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:432px;
  width:113px;
  height:42px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:405px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:56px;
}
#u246_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:44px;
  width:18px;
  height:8px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:432px;
  width:113px;
  height:42px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:350px;
  width:113px;
  height:42px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:405px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u249_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u249_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-38px;
  width:8px;
  height:42px;
}
#u249_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-38px;
  width:18px;
  height:8px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:550px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u250_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u250_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u250_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:9px;
}
#u250_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-4px;
  width:31px;
  height:8px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:529px;
  width:113px;
  height:42px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:495px;
  width:113px;
  height:42px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:577px;
  width:113px;
  height:42px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:550px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u254_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u254_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-4px;
  width:8px;
  height:56px;
}
#u254_seg2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:44px;
  width:17px;
  height:8px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:577px;
  width:113px;
  height:42px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:495px;
  width:113px;
  height:42px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:550px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u257_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u257_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-38px;
  width:8px;
  height:42px;
}
#u257_seg2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-38px;
  width:17px;
  height:8px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:695px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u258_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u258_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u258_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:9px;
}
#u258_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-4px;
  width:31px;
  height:8px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:674px;
  width:113px;
  height:42px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:640px;
  width:113px;
  height:42px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:722px;
  width:113px;
  height:42px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:695px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u262_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u262_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:56px;
}
#u262_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:44px;
  width:18px;
  height:8px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:722px;
  width:113px;
  height:42px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:640px;
  width:113px;
  height:42px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:695px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u265_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u265_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-38px;
  width:8px;
  height:42px;
}
#u265_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-38px;
  width:18px;
  height:8px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:850px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u266_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u266_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u266_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:9px;
}
#u266_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-4px;
  width:31px;
  height:8px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:829px;
  width:113px;
  height:42px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:795px;
  width:113px;
  height:42px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:850px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u269_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u269_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:56px;
}
#u269_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:44px;
  width:18px;
  height:8px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:877px;
  width:113px;
  height:42px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:795px;
  width:113px;
  height:42px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:850px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u272_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u272_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-38px;
  width:8px;
  height:42px;
}
#u272_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-38px;
  width:18px;
  height:8px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
